.sidebar {
  display: none;
  height: calc(100% - 142px);
}
.visible {
  display: block;
}
@media (min-width: 768px) {
  .sidebar {
    height: calc(100% - 80px);
    border-right: 2px solid grey;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 35%;
  }
}
